.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

/jplagClassroom/.settings/org.eclipse.jdt.core.prefs
*.prefs
*.class
/jplagClassroom/.classpath
/jplagClassroom/src/main/resources/credentials.json
/jplagClassroom/bin/main/credentials.json
/jplagClassroom/debug.log
